<?xml version="1.0"?>
<model>
    <name>4Wheeled_Robot</name>
    <version>1.0</version>
    <sdf version="1.0">model.sdf</sdf>

    <author>
        <name>Shuhei kozasa</name>
        <email>kozasa0820jps@gmail.com</email>
    </author>

    <description>
        A model where it adapts the following plugin
        # 1 diff_drive
        # 2 skid steering
        Removed these two since they were not what I wanted.
        Trying to add steering, which includes differential drive.
        I added a sensor on the top which publishes a ROS topic.
        (You can also add a camera to publish image topicis too but its not so hard)
    </description>
</model>
