<?xml version='1.0'?>
<model>
    <name>diffdrive</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <!--  <name>Ricardo Tellez</name>
        <email>rtellez@theconstructsim.com</email>
        -->
        <!-- Revised by -->
        <name>Shuhei kozasa</name>
        <email>kozasa0820jps@gmail.com</email>
    </author>

    <description>
        A base for a diff drive mobile wheeled robot
    </description>
</model>
